#setSizeDiv {
    position: absolute;
    top: 60px; /* Ajuste conforme a altura da sua barra de ferramentas superior */
    left: 50%;
    transform: translateX(-50%);
    background: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 10px;
}

#textEditorDiv {
    position: fixed;       /* fixa em relação à tela */
    top: 80%;              /* posiciona 50% do topo */
    left: 50%;             /* posiciona 50% da esquerda */
    transform: translate(-50%, -50%); /* centraliza exato no meio */
    background: rgba(0, 0, 0, 0.339);     /* opcional, só pra visualizar */
    padding: 20px;         /* opcional, deixa o conteúdo confortável */
    z-index: 1000;         /* garante que fique acima de outros elementos */
    border: 1px solid #000; /* opcional, só pra borda */
    border-radius: 32px;
}
#editText{
    min-height: 100px;
}
