body{
    background-color: rgb(40, 40, 40);
}


#drawlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;

}#drawlist img {
    width: 260px;   /* 800px * 0.2 = 160px */
    height: 260px;  /* mantém quadrado */
    object-fit: cover; /* se quiser cortar ou ajustar */
}#drawlist h1 {
    font-size: 32px;
    margin-bottom: 10;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer{
    background-color: rgb(255, 255, 255);
    
}
#createMangaDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centraliza verticalmente os itens */
}

#createMangaDiv label {
    color: white;
}

#sizeDrawCanvaPREV{
}


#MangaCard{
    background-color: blue;

}