body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#toolbar {
    background: #222;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#toolbar input[type="color"],
#toolbar input[type="range"] {
    margin-left: 5px;
}
#draw-canvas {
    display: block;
    background: #fff;
    margin: 20px auto;
    border: 2px solid #222;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: crosshair;

    min-height: 97dvh;
    
}
#bottom-tools {
    width: 100%;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 12px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin-bottom: 20px;
    margin-top: 0;
}